{{#condicionalIgualdade situacao "okCadastro"}}
<div class="alert alert-success">Produto cadastrado com sucesso!</div>
{{/condicionalIgualdade}}

{{#condicionalIgualdade situacao "okAlterar"}}
<div class="alert alert-success">Produto alterado com sucesso!</div>
{{/condicionalIgualdade}}

{{#condicionalIgualdade situacao "okRemover"}}
<div class="alert alert-success">Produto removido com sucesso!</div>
{{/condicionalIgualdade}}

{{#condicionalIgualdade situacao "falhaCadastro"}}
<div class="alert alert-danger">Falha ao cadastrar o produto, tente novamente.</div>
{{/condicionalIgualdade}}

{{#condicionalIgualdade situacao "falhaAlterar"}}
<div class="alert alert-danger">Falha ao alterar o produto, tente novamente.</div>
{{/condicionalIgualdade}}

{{#condicionalIgualdade situacao "falhaRemover"}}
<div class="alert alert-danger">Falha ao remover o produto, tente novamente.</div>
{{/condicionalIgualdade}}